<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Nuevo empleado</h3>
    <form (ngSubmit)="onSubmit()" #empleadoForm = "ngForm">
        <div class="from-group">
            <label>Nombre: </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" required minlength="4" maxlength="10" placeholder="Digite su nombre " #nombre = "ngModel">

            <!--Este div posee los mensajes de las validaciones a la realizar para el campo nombre-->
            <div class="alert alert-danger" *ngIf="nombre.invalid && nombre.dirty || nombre.touched">
                <div *ngIf="nombre.errors.required">
                    Digite su nombre por favor
                </div>
                <div *ngIf="nombre.errors.minlength">
                    El nombre debe contener como mínimo 4 caracteres
                </div>
                <div *ngIf="nombre.errors.maxlength">
                    El nombre debe contener como máximo 10 caracteres
                </div>
            </div>
        </div>

        <div class="from-group">
            <label>Apellido: </label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="empleado.apellido" name="apellido" required minlength="4" maxlength="10" placeholder="Digite su apellido " #apellido = "ngModel">

            <!--Este div posee los mensajes de las validaciones a la realizar para el campo apellido-->
            <div class="alert alert-danger" *ngIf="apellido.invalid && apellido.dirty || apellido.touched">
                <div *ngIf="apellido.errors.required">
                    Digite su apellido por favor
                </div>
                <div *ngIf="apellido.errors.minlength">
                    El apellido debe contener como mínimo 4 caracteres
                </div>
                <div *ngIf="apellido.errors.maxlength">
                    El apellido debe contener como máximo 10 caracteres
                </div>
            </div>
        </div>

        <div class="from-group">
            <label>Email: </label>
            <input type="email" class="form-control" id="email" [(ngModel)]="empleado.email" name="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required placeholder="Digite su email " #email = "ngModel">
        
            <!--Este div posee los mensajes de las validaciones a la realizar para el campo email-->
            <div class="alert alert-danger" *ngIf="email.invalid && email.dirty || email.touched">
                <div *ngIf="email.errors.required">
                    Digite su email por favor
                </div>
                <div *ngIf="email.errors.pattern">
                    Digite el email con el siguiente formato: user100&#64;gmail.com
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-success" [disabled]="!empleadoForm.form.valid">Guardar</button>
    </form>
</div>

